<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
<string>I am not using any user location data nor do i have access to it</string>
<key>NSLocationWhenInUseUsageDescription</key>
<string>I am not using any user location data nor do i have access to it</string>
<key>MGLMapboxAccessToken</key>
<string>pk.eyJ1IjoicGpmMTgyMiIsImEiOiJjbGZybHJsMXMwMmd3M3BwMmFiZXlvZjczIn0.68xXIxxj_-iONU42ihPWZA</string>
<key>MGLMapboxMetricsEnabledSettingShownInApp</key>
<false/>



